@font-face {
    font-family: 'digital-7regular';
    src: url('/styles/fonts/digital-7/digital-7-webfont.woff2') format('woff2'),
         url('/styles/fonts/digital-7/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    background-color: #475C7A;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 50px;
}

.numberButton {
    height: 100%;
    width: 100%;
    background-color: #685D79;
    border: none;
    font-size: 40px;
    font-weight: bolder;
}

.operatorButton {
    height: 100%;
    width: 100%;
    background-color: #AB6C82;
    border: none;
    font-size: 40px;
}

.helpButton {
    height: 100%;
    width: 100%;
    background-color: #D8737f;
    border: none;
    font-size: 50px;
}

header {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: 2fr repeat(4, 1fr);
    min-width: 600px;
    box-shadow: 5px 10px 40px;
}

#display {
    grid-area: 1 / 1 / span 1 / span 6 ;
    background-color: #FCBB6D;
    color: white;
    text-align: right;
    padding: 70px 20px;
    font-family: 'digital-7regular', Arial, Helvetica, sans-serif;
    font-size: 100px;
}



#dotDiv {
    grid-area: 5 / 2 / span 1 / span 2;
}

#backSpaceDiv {
    grid-area: 2 / 5 / span 1 / span 2 ;
}
#clearDiv {
    grid-area: 3 / 5 / span 2 / span 2 ;
}
#equalDiv {
    grid-area: 5 / 5 / span 1 / span 2 ;
}


#addDiv {
    grid-area: 2 / 4 / span 1 / span 1 ;
}
#subtractDiv {
    grid-area: 3 / 4 / span 1 / span 1 ;
}
#multiplyDiv {
    grid-area: 4 / 4 / span 1 / span 1 ;
}
#divideDiv {
    grid-area: 5 / 4 / span 1 / span 1 ;
}

